@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Witamy w prostej bibliotece</h1>
    <p> Wciśnij przycisk Book na górnym pasku</p>
</div>
